.project-row{
    margin: 0 -15px;
    padding: 60px 0;
}

@media(max-width:1024px){
    .project-row{
        padding: 40px 0;
    }
}
@media(max-width:767px){
    .project-row{
        padding: 20px 0;
    }
}