.gradient-btn {
    width: 131px;
    height: 51px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    background: linear-gradient(
      to bottom right,
      #2e8eff 0%,
      rgba(46, 142, 255, 0) 30%
    );
    background-color: rgba(46, 142, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover,&:focus{
        background-color: rgba(46, 142, 255, 0.7);
        box-shadow: 0 0 10px rgba(46, 142, 255, 0.5);
        outline: none;
    }
    .gradient-btn-inner {
        width: 127px;
        height: 47px;
        border-radius: 13px;
        background-color: #1a1a1a;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        color: #fff;
        font-weight: 600;
        svg {
            width: 27px;
            height: 27px;
            fill: #fff;
          }
      }
      
  }
 
  

  