.header {
    padding: 15px 0;
    // background: var(--gradient-yellow);
    background: transparent;
    border-radius: 30px;
    border: 2px solid var(--light-white);
    margin: 15px;
    .logo {
        max-width: 150px;
        width: 100%;
        display: block;
        cursor: pointer;

        img,
        svg {
            width: 100px;
            height: 100%;
            object-fit: scale-down;
            display: block;
        }
    }

    .nav {
        ul {
            li {
                a {
                    font: var(--h6);
                    color: var(--black);
                    text-transform: capitalize;
                    padding: 10px 15px;

                    &:hover {
                        color: var(--white);
                    }
                }
            }    
        }
    } 
}