.experience-section {
    .experience-wrp {
        position: relative;
        z-index: 1;
        margin-top: 100px;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            background-image: url('/images/experience.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            filter: saturate(0.5) brightness(0.7) blur(0.7px);
            z-index: -1;
            transform: translate(-50%, -50%);

        }
    }

    .experience-row {
        margin: 50px 0;
        padding: 20px 0;

        .experience-col {
            display: flex;
            flex-wrap: wrap;

            .experience-number {
                h2 {
                    font: normal 800 3.5vw/1.4 var(--third-font);
                    color: transparent;
                    -webkit-text-stroke: 2px var(--light-white);
                    letter-spacing: 4px;
                }
            }

            .experience-details {
                text-align: right;

                h4 {
                    background: var(--gradient-yellow);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                }

                h5 {
                    text-transform: uppercase;
                }
            }

            .location-icon {
                width: 30px;
                height: 30px;
                margin-right: 10px;

                img,
                svg {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 1170px) {
    .experience-section {
        .experience-wrp {
            margin-top: 50px;

            &::before {
                width: 80%;
                height: 80%;
            }
        }

        .experience-row {
            margin: 40px 0;

            .experience-col {
                .experience-number {
                    h2 {
                        font-size: 40px;
                        -webkit-text-stroke: 1px var(--light-white);
                    }
                }

                .experience-details {
                    h4 {
                        font-size: 21px;
                        margin-bottom: 10px;
                    }

                    h5 {
                        font-size: 16px;
                    }
                }

                .location-icon {
                    width: 20px;
                    height: 20px;
                    margin-right: 7px;

                    img,
                    svg {
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .experience-section {
        .experience-wrp {
            margin-top: 40px;

            &::before {
                display: none;
            }
        }

        .experience-row {
            margin: 20px 0;

            .experience-col {
                .experience-number {
                    h2 {
                        font-size: 28px;
                    }
                }

                .experience-details {
                    h4 {
                        font-size: 16px;
                    }

                    h5 {
                        font-size: 14px;
                    }
                }

                .location-icon {
                    width: 20px;
                    height: 20px;
                    margin-right: 7px;

                    img,
                    svg {
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: 460px) {
    .experience-section {
        .experience-wrp {
            margin-top: 30px;
        }

        .experience-row {
            margin: 20px 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: var(--btn-bg);
            border-radius: 10px;
            transition: all 0.3s;

            &:hover {
                filter: drop-shadow(3px 3px 0px var(--light-white));
            }

            .experience-col {
                .experience-number {
                    h2 {
                        font-size: 24px;
                    }
                }

                .experience-details {
                    > div{
                        justify-content: center;
                    }
                    h4 {
                        font-size: 14px;
                        margin: 10px 0;
                        text-align: center;
                    }

                    h5 {
                        font-size: 12px;
                    }
                }

            }
        }
    }
}